.vertical-wrapper,
.horizontal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-wrapper {
  flex-direction: column;
}

.horizontal-wrapper {
  flex-direction: row; /* "row" is default */
}

.large-gap {
  gap: 32px;
}

.medium-gap {
  gap: 16px;
}

.small-gap {
  gap: 8px;
}

.sharp-box,
.large-box {
  background-color: #ccc;
  border: 1px solid #666;
}

.small-box {
  background-color: #fdd;
  border: 1px solid #f66;
}

.large-box {
  min-height: 100px;
  min-width: 100px;
}

.small-box {
  height: 35px;
  width: 35px;
}

.grow {
  flex-grow: 1;
}

.stretch {
  align-self: stretch;
}